
.content{
    height: 480px;
    width: 320px;
    background: #3da757;
    margin: 50px auto;
    border-radius: 20px;
    padding:15px;
    box-sizing: border-box;
}
.display{
    height:90px;
    width:100%;
    border:3px solid rgb(108, 108, 230);
    border-radius: 20px;
    box-sizing: border-box;
    background: #fff;
    font-size: 27px;
    user-select: none;
    padding:8px;
    font-family: Arial, Helvetica, sans-serif;
}
.panta{
    width:90%;
    height:70px;
    border:none;
    font-size:20px;
    outline: none;

}

.botones{
    width:100%;
    box-sizing: border-box;
    margin-top: 20px;
    display:grid;
    grid-template-columns: repeat(4,1fr);
    
}
button{
    height: 62px;
    width:  62px;
    background: rgb(226, 218, 226);
    border-radius: 50%;
    font-size: 20px;
    border: none;
    margin:auto;
    margin-bottom:8px;
    color: #264d95;
    font-size: 24px;
    user-select: none;
}
button:active{
    filter: brightness(70%)
}
.igual{
    grid-column:span 2;
    width: 140px;
    border-radius: 30px;
}
.por{
    line-height: 68px;
}